@charset "UTF-8";

/*@FONT FACE*/
/*OPENSANS*/
@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/opensans/OpenSans-Regular-webfont.eot');
	src: url('../fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
	url('../fonts/opensans/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansSemibold';
	src: url('../fonts/opensans/OpenSans-Semibold-webfont.eot');
	src: url('../fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Semibold-webfont.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Semibold-webfont.ttf') format('truetype'),
	url('../fonts/opensans/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/opensans/OpenSans-Bold-webfont.eot');
	src: url('../fonts/opensans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Bold-webfont.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Bold-webfont.ttf') format('truetype'),
	url('../fonts/opensans/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/opensans/OpenSans-Light-webfont.eot');
	src: url('../fonts/opensans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Light-webfont.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Light-webfont.ttf') format('truetype'),
	url('../fonts/opensans/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FILTROS */
.opacity-7{
	opacity:.7;
	filter:alpha(opacity=70);
	-moz-opacity:.7;
	opacity:.7;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70)
}
.opacity-8{
	opacity:.8;
	filter:alpha(opacity=80);
	-moz-opacity:.8;
	opacity:.8;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80)
}

/*!!!!! ATENCAO - Dar um replace na cor #B51600 pela cor sobresaente no site*/

/*BOTOES======================*/
/* videos */
.bt-up,.bt-down{ 
	background-color:#96BF0D;
	color:#FFF;
}
.bt-up.disabled,.bt-down.disabled{
	background-color:#DDD;
	color:#FFF;
}
.btn-custom {
	border-color: #96BF0D;
	background-color:#96BF0D;
	color: #FFF;
}
.btn-custom:hover,
.btn-custom:focus {
	background-color: #96BF0D;  
	color: #FFF;
}
.btn-custom:active,
.btn-custom.active {
	background-color:#96BF0D;
	border-color: #96BF0D;  
	color: #FFF;
}
/*SELECAO ========================*/
::-moz-selection{
	background:#96BF0D;
	color:#fff; 
	text-shadow:none;
}
::selection{
	background:#96BF0D;
	color:#fff; 
	text-shadow:none;
}

/*IMG HOVER ======================*/
a:hover .thumbnail, a.thumbnail:hover,
a:hover .img-thumbnail, a.img-thumbnail:hover{
	border-color: #96BF0D !important;
}

/*PAGINACAO========================*/
.pagination > li > a, 
.pagination > li > span {
	color: #222;
}

/* cor dos textos dos boxes */

.box-xs-3 h2,
.box-xs-6 h2,
.box-xs-12 h2,
.box-xs-12-p h3{
	color: #8C4600;
}

.box-xs-3 p,
.box-xs-6 p,
.box-xs-12 p,
.box-xs-12-p p{
	color: #000;
}

.list-group a{
	color: #777;
}

/*PAGE WRAPER==========================*/

html,body{
	width: 100%;
	height:100%;
	/*overflow-x: hidden;*/
}
.wrapper{
	margin-bottom:-271px;/*Tamanho do rodape*/
	min-height:100%;
	padding-bottom: 271px;
}

/*BANNER E SEUS RELATIVOS==============*/
.area-banner{
	padding: 0;
	position:relative;
	width: 100%; height: 530px; /*TAMANHO DA IMAGEM DO BANNER*/
}
.banners{
	z-index: 1;
	width: inherit; 
	height: inherit;
	overflow: hidden;
	position: absolute;
}
.banners a{
	background-position: center top;
	background-repeat: no-repeat;
	display: block;
	height: inherit;
	width: inherit;
}
#banner-nav {
	bottom: 0;
	height: 30px;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 1;
}
#banner-nav span {
	background-color: #8C4600;
	border-radius: 50%;
	color: transparent;
	cursor: pointer;
	display: inline-block;
	font-size: 0;
	height: 14px;
	margin: 0 3px;
	opacity: 1;
	overflow: hidden;
	transition: all .2s ease-out;
	width: 14px;
}
#banner-nav .cycle-pager-active {
	background-color: #008C69;
}
@media (min-width: 992px) {
	#banner-nav a {
		opacity: 0.0;
	}
	#banner:hover #banner-nav a.prev,
	#banner:hover #banner-nav a.next {
		opacity: 1.0;
		transform: translateX(0px);
	}
	#banner-nav a.prev {
		left: -40px;
		transform: translateX(-30px);
	}
	#banner-nav a.next {
		right: -40px;
		transform: translateX(30px);
	}
}

/*** fim das preconfiguracoes do starter */

/* faca aqui o melhor css ja visto antes */
body, p {
	color: #010101;
	font-family: 'OpenSansRegular';
	font-size: 15px;
}
h1, h2, h3, h4 {
	font-family: 'josefin_sansbold', sans-serif;
}
h2, h3, h4 {
	color: #8C4600;
}
h2 {
	font-size: 45px;
}
iframe {
	border: none;
}
body, p, h1, h2, h3, th, td {
	line-height: 120%;
}
p {
	margin-bottom: 15px;
}
.btn {
	transition: all .25s ease-out;
}
.btn:active {
	transform: scale(.95);
}
.wrapper > article.container,
.wrapper > section.container {
	margin-bottom: 100px;
}
.no-padding {padding: 0;}
.no-padding-left {padding-left: 0;}
.no-padding-right {padding-right: 0;}
.redes-sociais a,
.icone {
	background-image: url(../imagens/sprites.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}