<!-- Página de código 11 interna (responsive) -->
<!-- CSS -->
<link href="css/starter.css" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet"> 
<!-- FIM CSS -->
<!-- SCRIPTS AQUI -->
<script src="js/starter.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/scripts.js"></script>
<!--[if lt IE 9]>
<script src="js/mensagem-ie.js"></script><script src="js/html5shiv.js"></script>
<![endif]-->
<!-- FIM DOS SCRIPTS -->

<!-- Copiar apenas após esta linha -->

<article class="container">	
	<header class="page-header">		
		<h1>Produtos ou Servi&ccedil;os</h1>
	</header>

	<div class="row">
		
		<div class="col-md-5 col-sm-6 img-descricao-principal">

			<a href="http://placehold.it/1000x660.jpg" data-lightbox="150" data-title="Descri&ccedil;&atilde;o da imagem">			
				<figure class="miniatura img-responsive center-block-xsm">				
					<img src="http://placehold.it/400x400.jpg" height="400" width="400" alt="Descri&ccedil;&atilde;o da imagem">				
				</figure>
			</a>

			<div class="row img-descricao">
				
				<div class="col-md-4 col-sm-4 col-xsm-4 col-xs-6">
					<a href="http://placehold.it/1000x660.jpg" data-lightbox="150" data-title="Descri&ccedil;&atilde;o da imagem">
						<figure class="miniatura center-block-xsm center-block-xs">						
							<img src="http://placehold.it/109x109.jpg" height="109" width="109" alt="Descri&ccedil;&atilde;o da imagem">						
						</figure>
					</a>
				</div>

				<div class="col-md-4 col-sm-4 col-xsm-4 col-xs-6">
					<a href="http://placehold.it/1000x660.jpg" data-lightbox="150" data-title="Descri&ccedil;&atilde;o da imagem">
						<figure class="miniatura center-block-xsm center-block-xs">						
							<img src="http://placehold.it/109x109.jpg" height="109" width="109" alt="Descri&ccedil;&atilde;o da imagem">						
						</figure>
					</a>
				</div>

				<div class="col-md-4 col-sm-4 col-xsm-4 col-xs-6">
					<a href="http://placehold.it/1000x660.jpg" data-lightbox="150" data-title="Descri&ccedil;&atilde;o da imagem">
						<figure class="miniatura center-block-xsm center-block-xs">						
							<img src="http://placehold.it/109x109.jpg" height="109" width="109" alt="Descri&ccedil;&atilde;o da imagem">						
						</figure>
					</a>
				</div>

			</div>
			<!-- /.row -->

		</div>
		<!-- /.col-xs-5 -->

		<div class="col-md-7 col-sm-6">
			
			<h2 class="titulo-descricao">Nome do Produto ou Servi&ccedil;o</h2>

			<p>
				Lorem ipsum Ea id est Ut magna voluptate reprehenderit est dolore dolor reprehenderit commodo reprehenderit aute anim Ut adipisicing Excepteur minim consequat proident cupidatat elit aliquip in amet dolore consectetur amet qui exercitation ut aliqua sint id irure nulla fugiat ullamco dolore nisi in sit dolore velit Excepteur magna est ullamco culpa elit nulla qui consequat Duis proident eiusmod commodo incididunt labore do quis laborum elit anim incididunt laborum culpa est minim enim dolore et 
			</p>

			<p>
				Lorem ipsum Ea id est Ut magna voluptate reprehenderit est dolore dolor reprehenderit commodo reprehenderit aute anim Ut adipisicing Excepteur minim consequat proident cupidatat elit aliquip in amet dolore consectetur amet qui exercitation ut aliqua sint id irure nulla fugiat ullamco dolore nisi in sit dolore velit Excepteur magna est ullamco culpa elit nulla qui consequat Duis proident eiusmod commodo incididunt labore do quis laborum elit anim incididunt laborum culpa est minim enim dolore et 
			</p>

			<p>
				Lorem ipsum Ea id est Ut magna voluptate reprehenderit est dolore dolor reprehenderit commodo reprehenderit aute anim Ut adipisicing Excepteur minim consequat proident cupidatat elit aliquip in amet dolore consectetur amet qui exercitation ut aliqua sint id irure nulla fugiat ullamco dolore nisi in sit dolore velit Excepteur magna est ullamco culpa elit nulla qui consequat Duis proident eiusmod commodo incididunt labore do quis laborum elit anim incididunt laborum culpa est minim enim dolore et 
			</p>

			<p>
				Lorem ipsum Ea id est Ut magna voluptate reprehenderit est dolore dolor reprehenderit commodo reprehenderit aute anim Ut adipisicing Excepteur minim consequat proident cupidatat elit aliquip in amet dolore consectetur amet qui exercitation ut aliqua sint id irure nulla fugiat ullamco dolore nisi in sit dolore velit Excepteur magna est ullamco culpa elit nulla qui consequat Duis proident eiusmod commodo incididunt labore do quis laborum elit anim incididunt laborum culpa est minim enim dolore et 
			</p>

		</div>
		<!-- /.col-xs-7 -->

	</div>
	<!-- /.row -->

	<footer class="page-footer">
		
		<a href="#" onclick="return !(window.history.back(1));" class="btn btn-footer btn-custom" > « Voltar </a>

	</footer>
		
</article>
<!-- /.container -->