Página de código 026 -->
<!-- CSS -->
<link href="css/starter.css" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet"> 
<!-- FIM CSS -->
<!-- SCRIPTS AQUI -->
<script src="js/starter.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/scripts.js"></script>
<!--[if lt IE 9]>
<script src="js/mensagem-ie.js"></script><script src="js/html5shiv.js"></script>
<![endif]-->
<!-- FIM DOS SCRIPTS -->

<!-- Copiar apenas após esta linha -->

<section class="container">
	
	<header class="page-header">		
		<h1>Parceiros / Clientes</h1>
	</header><!-- /.page-header -->

	<ul class="row page-list">

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="#">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/180x120.jpg" height="120" width="180" alt="Nome do cliente ou parceiro">					
				</figure>
				<span>
					<h2 class="text-center-xs">
						Nome do cliente ou parceiro 
					</h2>
				</span>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="#">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/180x120.jpg" height="120" width="180" alt="Nome do cliente ou parceiro">					
				</figure>
				<span>
					<h2 class="text-center-xs">
						Nome do cliente ou parceiro
					</h2>
				</span>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="#">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/180x120.jpg" height="120" width="180" alt="Nome do cliente ou parceiro">					
				</figure>
				<span>
					<h2 class="text-center-xs">
						Nome do cliente ou parceiro
					</h2>
				</span>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="#">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/180x120.jpg" height="120" width="180" alt="Nome do cliente ou parceiro">					
				</figure>
				<span>
					<h2 class="text-center-xs">
						Nome do cliente ou parceiro
					</h2>
				</span>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="#">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/180x120.jpg" height="120" width="180" alt="Nome do cliente ou parceiro">					
				</figure>
				<span>
					<h2 class="text-center-xs">
						Nome do cliente ou parceiro
					</h2>
				</span>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="#">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/180x120.jpg" height="120" width="180" alt="Nome do cliente ou parceiro">					
				</figure>
				<span>
					<h2 class="text-center-xs">
						Nome do cliente ou parceiro
					</h2>
				</span>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="#">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/180x120.jpg" height="120" width="180" alt="Nome do cliente ou parceiro">					
				</figure>
				<span>
					<h2 class="text-center-xs">
						Nome do cliente ou parceiro
					</h2>
				</span>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="#">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/180x120.jpg" height="120" width="180" alt="Nome do cliente ou parceiro">					
				</figure>
				<span>
					<h2 class="text-center-xs">
						Nome do cliente ou parceiro
					</h2>
				</span>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="#">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/180x120.jpg" height="120" width="180" alt="Nome do cliente ou parceiro">					
				</figure>
				<span>
					<h2 class="text-center-xs">
						Nome do cliente ou parceiro
					</h2>
				</span>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="#">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/180x120.jpg" height="120" width="180" alt="Nome do cliente ou parceiro">					
				</figure>
				<span>
					<h2 class="text-center-xs">
						Nome do cliente ou parceiro
					</h2>
				</span>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="#">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/180x120.jpg" height="120" width="180" alt="Nome do cliente ou parceiro">					
				</figure>
				<span>
					<h2 class="text-center-xs">
						Nome do cliente ou parceiro
					</h2>
				</span>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="#">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/180x120.jpg" height="120" width="180" alt="Nome do cliente ou parceiro">					
				</figure>
				<span>
					<h2 class="text-center-xs">
						Nome do cliente ou parceiro
					</h2>
				</span>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

	</ul><!-- /.page-list -->

	<footer class="page-footer">

		<ul class="pagination">
			<li><a href="#">&laquo;</a></li>
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>

	</footer><!-- /.page-footer -->

</section><!-- /.container -->