<!-- Página de código 035 -->
<!-- CSS -->
<link href="css/starter.css" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet"> 
<!-- FIM CSS -->
<!-- SCRIPTS AQUI -->
<script src="js/starter.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/scripts.js"></script>
<!--[if lt IE 9]>
<script src="js/mensagem-ie.js"></script><script src="js/html5shiv.js"></script>
<![endif]-->
<!-- FIM DOS SCRIPTS -->

<!-- Copiar apenas após esta linha -->

<section class="container">
	
	<header class="page-header">
		<h1>Parceiros / Clientes</h1>
	</header>
	<!-- /.page-header -->


	<ul class="row page-list">

		<!-- noticia a se repetir -->
		<li class="col-md-6 box-xs-6">			
			<a href="#">
				<figure class="miniatura">					
					<img src="http://placehold.it/470x220.jpg" height="220" width="470" alt="Nome do Parceiro ou Cliente">					
				</figure>
				<div>
					<h2>
						Nome do Parceiro ou Cliente
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
				</div>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-6 box-xs-6">			
			<a href="#">
				<figure class="miniatura">					
					<img src="http://placehold.it/470x220.jpg" height="220" width="470" alt="Nome do Parceiro ou Cliente">					
				</figure>
				<div>
					<h2>
						Nome do Parceiro ou Cliente
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
				</div>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-6 box-xs-6">			
			<a href="#">
				<figure class="miniatura">					
					<img src="http://placehold.it/470x220.jpg" height="220" width="470" alt="Nome do Parceiro ou Cliente">					
				</figure>
				<div>
					<h2>
						Nome do Parceiro ou Cliente
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
				</div>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-6 box-xs-6">			
			<a href="#">
				<figure class="miniatura">					
					<img src="http://placehold.it/470x220.jpg" height="220" width="470" alt="Nome do Parceiro ou Cliente">					
				</figure>
				<div>
					<h2>
						Nome do Parceiro ou Cliente
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
				</div>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-6 box-xs-6">			
			<a href="#">
				<figure class="miniatura">					
					<img src="http://placehold.it/470x220.jpg" height="220" width="470" alt="Nome do Parceiro ou Cliente">					
				</figure>
				<div>
					<h2>
						Nome do Parceiro ou Cliente
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
				</div>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-6 box-xs-6">			
			<a href="#">
				<figure class="miniatura">					
					<img src="http://placehold.it/470x220.jpg" height="220" width="470" alt="Nome do Parceiro ou Cliente">					
				</figure>
				<div>
					<h2>
						Nome do Parceiro ou Cliente
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
				</div>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-6 box-xs-6">			
			<a href="#">
				<figure class="miniatura">					
					<img src="http://placehold.it/470x220.jpg" height="220" width="470" alt="Nome do Parceiro ou Cliente">					
				</figure>
				<div>
					<h2>
						Nome do Parceiro ou Cliente
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
				</div>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-6 box-xs-6">			
			<a href="#">
				<figure class="miniatura">					
					<img src="http://placehold.it/470x220.jpg" height="220" width="470" alt="Nome do Parceiro ou Cliente">					
				</figure>
				<div>
					<h2>
						Nome do Parceiro ou Cliente
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
				</div>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-6 box-xs-6">			
			<a href="#">
				<figure class="miniatura">					
					<img src="http://placehold.it/470x220.jpg" height="220" width="470" alt="Nome do Parceiro ou Cliente">					
				</figure>
				<div>
					<h2>
						Nome do Parceiro ou Cliente
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
				</div>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-6 box-xs-6">			
			<a href="#">
				<figure class="miniatura">					
					<img src="http://placehold.it/470x220.jpg" height="220" width="470" alt="Nome do Parceiro ou Cliente">					
				</figure>
				<div>
					<h2>
						Nome do Parceiro ou Cliente
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
				</div>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-6 box-xs-6">			
			<a href="#">
				<figure class="miniatura">					
					<img src="http://placehold.it/470x220.jpg" height="220" width="470" alt="Nome do Parceiro ou Cliente">					
				</figure>
				<div>
					<h2>
						Nome do Parceiro ou Cliente
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
				</div>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-6 box-xs-6">			
			<a href="#">
				<figure class="miniatura">					
					<img src="http://placehold.it/470x220.jpg" height="220" width="470" alt="Nome do Parceiro ou Cliente">					
				</figure>
				<div>
					<h2>
						Nome do Parceiro ou Cliente
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, iste, nihil facere suscipit amet voluptate ducimus asperiores maxime voluptas delectus! Error, saepe explicabo eius excepturi fuga iure omnis expedita eaque.
					</p>
				</div>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->


	</ul>

	<footer class="page-footer">
		
		<ul class="pagination">
			<li><a href="#">&laquo;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>

	</footer>
		
</section>
<!-- /.container -->
	