<!-- Página de código 039 -->
<!-- CSS -->
<link href="css/starter.css" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet"> 
<!-- FIM CSS -->
<!-- SCRIPTS AQUI -->
<script src="js/starter.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/scripts.js"></script>
<!--[if lt IE 9]>
<script src="js/mensagem-ie.js"></script><script src="js/html5shiv.js"></script>
<![endif]-->
<!-- FIM DOS SCRIPTS -->

<!-- Copiar apenas após esta linha -->

<article class="container">

	<header class="page-header">		
		<h1>Contato</h1>
	</header><!-- /.page-header -->

	<div class="row">
		
		<div class="col-md-6 col-sm-6">			

			<form action="" method="post" class="clearfix" id="contato_form" onsubmit="return megaValidar(this.id);">
				
				<div class="form-group">
					<label for="contato_nome">Nome:</label>
					<input type="text" name="contato_nome" id="contato_nome" class="form-control" maxlenght="99" data-valida="1">
				</div>

				<div class="form-group">
					<label for="contato_email">E-mail:</label>
					<input type="email" name="contato_email" id="contato_email" class="form-control" maxlenght="99" data-valida="2">
				</div>

				<div class="form-group">
					<label for="contato_telefone">Telefone:</label>
					<input type="tel" name="contato_telefone" id="contato_telefone" class="form-control mask-fone" data-valida="1">
				</div>

				<div class="form-group">
					<label for="contato_assunto">Assunto:</label>
					<input type="text" name="contato_assunto" id="contato_assunto" class="form-control" maxlenght="99" data-valida="1">
				</div>

				<div class="form-group">
					<label for="contato_mensagem">Mensagem:</label>
					<textarea name="contato_mensagem" id="contato_mensagem" class="form-control" data-valida="1" rows="5"></textarea>
				</div>

				<input type="submit" value="Enviar" class="btn btn-lg btn-custom pull-right"/>

			</form>

		</div><!-- /.col-xs-6 -->

		<div class="col-md-6 col-sm-6">

			<div data-iframe-src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15809406.648218226!2d-52.3708730264485!3d-14.671914691014576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1401108058053" data-iframe-width="100%" data-iframe-height="450px"></div>
			
		</div><!-- /.col-xs-6 -->

	</div><!-- /.row -->

</article><!-- /.container -->
