<!-- Página de código 078 -->
<!-- CSS -->
<link href="css/starter.css" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet"> 
<!-- FIM CSS -->
<!-- SCRIPTS AQUI -->
<script src="js/starter.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/scripts.js"></script>
<!--[if lt IE 9]>
<script src="js/mensagem-ie.js"></script><script src="js/html5shiv.js"></script>
<![endif]-->
<!-- FIM DOS SCRIPTS -->

<!-- Copiar apenas após esta linha -->

<article class="container">
	
	<header class="page-header">
		<h1>Nome da Galeria de Fotos</h1>
	</header>
	<!-- /.page-header -->

	<div class="page-body">	

		<p>
			<img src="http://placehold.it/900x300.jpg" height="300" width="970" class="img-responsive" alt="Imagem" title=""/>
		</p>

		<p>
			<img src="http://placehold.it/900x300.jpg" height="300" width="970" class="img-responsive" alt="Imagem" title=""/>
		</p>

		<p>
			<img src="http://placehold.it/900x300.jpg" height="300" width="970" class="img-responsive" alt="Imagem" title=""/>
		</p>

		<p>
			<img src="http://placehold.it/900x300.jpg" height="300" width="970" class="img-responsive" alt="Imagem" title=""/>
		</p>

		<p>
			<img src="http://placehold.it/900x300.jpg" height="300" width="970" class="img-responsive" alt="Imagem" title=""/>
		</p>

	</div>
	<!-- /.page-body -->

	<footer class="page-footer">
		
		<ul class="pagination">
			<li><a href="#">&laquo;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>

	</footer>
		
</article>
<!-- /.container -->
	