<!-- Página de código 082 -->
<!-- CSS -->
<link href="css/starter.css" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet"> 
<!-- FIM CSS -->
<!-- SCRIPTS AQUI -->
<script src="js/starter.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/scripts.js"></script>
<!--[if lt IE 9]>
<script src="js/mensagem-ie.js"></script><script src="js/html5shiv.js"></script>
<![endif]-->
<!-- FIM DOS SCRIPTS -->

<!-- Copiar apenas após esta linha -->

<section class="container">

	<header class="page-header">
		<h1>Galeria de Fotos</h1>
	</header><!-- /.page-header -->


	<ul class="page-list">

		<!-- REPETE -->
		<li class="row box-xs-12">
			<a href="082-interna.html">
				<span class="col-md-3 col-sm-4 col-xsm-5">
					<figure class="miniatura img-responsive center-block-xs">
						<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="">
					</figure>
				</span>
				<span class="col-md-9 col-sm-8 col-xsm-7">
					<h2 class="titulo-descricao">Nome da Galeria de Fotos</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, suscipit, obcaecati optio ratione totam dolorem sequi necessitatibus nesciunt impedit ipsa odio quae deserunt illum laboriosam sunt! Incidunt voluptatem officiis pariatur.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, suscipit, obcaecati optio ratione totam dolorem sequi necessitatibus nesciunt impedit ipsa odio quae deserunt illum laboriosam sunt! Incidunt voluptatem officiis pariatur.
					</p>
					<span class="btn btn-lg btn-custom pull-right">
						Ver Fotos
					</span>
				</span>
			</a>
		</li>
		<!-- FIM REPETE -->

		<!-- REPETE -->
		<li class="row box-xs-12">
			<a href="082-interna.html">
				<span class="col-md-3 col-sm-4 col-xsm-5">
					<figure class="miniatura img-responsive center-block-xs">
						<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="">
					</figure>
				</span>
				<span class="col-md-9 col-sm-8 col-xsm-7">
					<h2 class="titulo-descricao">Nome da Galeria de Fotos</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, suscipit, obcaecati optio ratione totam dolorem sequi necessitatibus nesciunt impedit ipsa odio quae deserunt illum laboriosam sunt! Incidunt voluptatem officiis pariatur.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, suscipit, obcaecati optio ratione totam dolorem sequi necessitatibus nesciunt impedit ipsa odio quae deserunt illum laboriosam sunt! Incidunt voluptatem officiis pariatur.
					</p>
					<span class="btn btn-lg btn-custom pull-right">
						Ver Fotos
					</span>
				</span>
			</a>
		</li>
		<!-- FIM REPETE -->

		<!-- REPETE -->
		<li class="row box-xs-12">
			<a href="082-interna.html">
				<span class="col-md-3 col-sm-4 col-xsm-5">
					<figure class="miniatura img-responsive center-block-xs">
						<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="">
					</figure>
				</span>
				<span class="col-md-9 col-sm-8 col-xsm-7">
					<h2 class="titulo-descricao">Nome da Galeria de Fotos</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, suscipit, obcaecati optio ratione totam dolorem sequi necessitatibus nesciunt impedit ipsa odio quae deserunt illum laboriosam sunt! Incidunt voluptatem officiis pariatur.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, suscipit, obcaecati optio ratione totam dolorem sequi necessitatibus nesciunt impedit ipsa odio quae deserunt illum laboriosam sunt! Incidunt voluptatem officiis pariatur.
					</p>
					<span class="btn btn-lg btn-custom pull-right">
						Ver Fotos
					</span>
				</span>
			</a>
		</li>
		<!-- FIM REPETE -->

		<!-- REPETE -->
		<li class="row box-xs-12">
			<a href="082-interna.html">
				<span class="col-md-3 col-sm-4 col-xsm-5">
					<figure class="miniatura img-responsive center-block-xs">
						<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="">
					</figure>
				</span>
				<span class="col-md-9 col-sm-8 col-xsm-7">
					<h2 class="titulo-descricao">Nome da Galeria de Fotos</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, suscipit, obcaecati optio ratione totam dolorem sequi necessitatibus nesciunt impedit ipsa odio quae deserunt illum laboriosam sunt! Incidunt voluptatem officiis pariatur.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, suscipit, obcaecati optio ratione totam dolorem sequi necessitatibus nesciunt impedit ipsa odio quae deserunt illum laboriosam sunt! Incidunt voluptatem officiis pariatur.
					</p>
					<span class="btn btn-lg btn-custom pull-right">
						Ver Fotos
					</span>
				</span>
			</a>
		</li>
		<!-- FIM REPETE -->

	</ul><!-- /.page-list -->

	<footer class="page-footer">
		
		<ul class="pagination">
			<li><a href="#">&laquo;</a></li>
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>

	</footer><!-- /.page-footer -->
		
</section><!-- /.container -->
