<!-- Página de código 091 (responsive) -->
<!-- CSS -->
<link href="css/starter.css" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet"> 
<!-- FIM CSS -->
<!-- SCRIPTS AQUI -->
<script src="js/starter.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/scripts.js"></script>
<!--[if lt IE 9]>
<script src="js/mensagem-ie.js"></script><script src="js/html5shiv.js"></script>
<![endif]-->
<!-- FIM DOS SCRIPTS -->

<!-- Copiar apenas após esta linha -->

<article class="container">
	
	<header class="page-header">		
		<h1>Nome da Galeria de Fotos</h1>
	</header>
	<!-- /.page-header -->

	<ul class="row page-list">

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="091" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="091" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="091" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="091" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="091" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="091" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="091" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="091" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="091" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="091" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="091" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="091" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->


	</ul>

	<footer class="page-footer">
		
		<a href="#" onclick="window.history.back();" class="btn btn-footer btn-custom" > « Voltar </a>

	</footer>
		
</article>
<!-- /.container -->