<!-- Página de código 097 (responsive) -->
<!-- CSS -->
<link href="css/starter.css" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet"> 
<!-- FIM CSS -->
<!-- SCRIPTS AQUI -->
<script src="js/starter.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/scripts.js"></script>
<!--[if lt IE 9]>
<script src="js/mensagem-ie.js"></script><script src="js/html5shiv.js"></script>
<![endif]-->
<!-- FIM DOS SCRIPTS -->

<!-- Copiar apenas após esta linha -->

<article class="container">
	
	<header class="page-header">		
		<h1>Links &Uacute;teis</h1>
	</header>
	<!-- /.page-header -->


	<ul class="page-list row">

		<li class="col-sm-6 col-xsm-6 box-xs-6">			
			<h4 class="">Nome do Link</h4>
			Link: <a href="#">http://www.gv8.com.br/</a>
		</li>

		<li class="col-sm-6 col-xsm-6 box-xs-6">			
			<h4 class="">Nome do Link</h4>
			Link: <a href="#">http://www.gv8.com.br/</a>
		</li>

		<li class="col-sm-6 col-xsm-6  box-xs-6">			
			<h4 class="">Nome do Link</h4>
			Link: <a href="#">http://www.gv8.com.br/</a>
		</li>

		<li class="col-sm-6 col-xsm-6 box-xs-6">			
			<h4 class="">Nome do Link</h4>
			Link: <a href="#">http://www.gv8.com.br/</a>
		</li>

		<li class="col-sm-6 col-xsm-6 box-xs-6">			
			<h4 class="">Nome do Link</h4>
			Link: <a href="#">http://www.gv8.com.br/</a>
		</li>

		<li class="col-sm-6 col-xsm-6  box-xs-6">			
			<h4 class="">Nome do Link</h4>
			Link: <a href="#">http://www.gv8.com.br/</a>
		</li>

		<li class="col-sm-6 col-xsm-6 box-xs-6">			
			<h4 class="">Nome do Link</h4>
			Link: <a href="#">http://www.gv8.com.br/</a>
		</li>

		<li class="col-sm-6 col-xsm-6 box-xs-6">			
			<h4 class="">Nome do Link</h4>
			Link: <a href="#">http://www.gv8.com.br/</a>
		</li>

		<li class="col-sm-6 col-xsm-6  box-xs-6">			
			<h4 class="">Nome do Link</h4>
			Link: <a href="#">http://www.gv8.com.br/</a>
		</li>

		<li class="col-sm-6 col-xsm-6 box-xs-6">			
			<h4 class="">Nome do Link</h4>
			Link: <a href="#">http://www.gv8.com.br/</a>
		</li>

		<li class="col-sm-6 col-xsm-6 box-xs-6">			
			<h4 class="">Nome do Link</h4>
			Link: <a href="#">http://www.gv8.com.br/</a>
		</li>

		<li class="col-sm-6 col-xsm-6  box-xs-6">			
			<h4 class="">Nome do Link</h4>
			Link: <a href="#">http://www.gv8.com.br/</a>
		</li>

	</ul>

	<footer class="page-footer">
		
		<ul class="pagination">
		  <li><a href="#">&laquo;</a></li>
		  <li><a href="#">1</a></li>
		  <li><a href="#">2</a></li>
		  <li><a href="#">3</a></li>
		  <li><a href="#">4</a></li>
		  <li><a href="#">5</a></li>
		  <li><a href="#">&raquo;</a></li>
		</ul>

	</footer>
		
</article>
<!-- /.container -->
	