<!-- Página de código 107 -->
<!-- CSS -->
<link href="css/starter.css" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet"> 
<!-- FIM CSS -->
<!-- SCRIPTS AQUI -->
<script src="js/starter.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/scripts.js"></script>
<!--[if lt IE 9]>
<script src="js/mensagem-ie.js"></script><script src="js/html5shiv.js"></script>
<![endif]-->
<!-- FIM DOS SCRIPTS -->

<!-- Copiar apenas após esta linha -->

<article class="container">
	
	<header class="page-header">		
		<h1>Localiza&ccedil;&atilde;o</h1>
	</header>
	<!-- /.page-header -->

	<div class="page-body">			

		<div data-iframe-src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15809406.648218226!2d-52.3708730264485!3d-14.671914691014576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1401108058053" data-iframe-width="100%" data-iframe-height="400px"></div>	

		<br/>

		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa.</p>

		<p>Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.
		Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc
		gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac,
		sollicitudin in, consequat vitae, orci. Fusce id felis.</p>	

	</div>
	<!-- /.page-body -->
		
</article>
<!-- /.container -->
	