<!-- Página de código 117 (responsive) -->
<!-- CSS -->
<link href="css/starter.css" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet"> 
<!-- FIM CSS -->
<!-- SCRIPTS AQUI -->
<script src="js/starter.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/scripts.js"></script>
<!--[if lt IE 9]>
<script src="js/mensagem-ie.js"></script><script src="js/html5shiv.js"></script>
<![endif]-->
<!-- FIM DOS SCRIPTS -->

<!-- Copiar apenas após esta linha -->

<article class="container">
	
	<header class="page-header">		
		<h1>Not&iacute;cias, Artigos ou Dicas</h1>
	</header>
	<!-- /.page-header -->

	<div class="page-body">	

		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa.</p>

		<p>Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.
		Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc
		gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac,
		sollicitudin in, consequat vitae, orci. Fusce id felis.</p>

		<p>Vivamus sollicitudin metus eget eros.Pellentesque habitant morbi tristique senectus et netus et
		malesuada fames ac turpis egestas. In posuere felis nec tortor. Pellentesque faucibus. Ut accumsan ultricies elit. Maecenas at justo id velit placerat
		molestie. Donec dictum lectus non odio. Cras a ante vitae enim iaculis aliquam. Mauris nunc quam, venenatis nec, euismod sit amet, egestas placerat, est.
		Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

	</div>
	<!-- /.page-body -->

	<ul class="row page-list">

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="117" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="117" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="117" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="117" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="117" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="117" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="117" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="117" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="117" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="117" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="117" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->

		<!-- noticia a se repetir -->
		<li class="col-md-3 col-sm-4 col-xsm-6 box-xs-3">			
			<a href="http://placehold.it/1000x660.jpg" data-lightbox="117" data-title="Descri&ccedil;&atilde;o da imagem">
				<figure class="miniatura center-block-xs">					
					<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
				</figure>
			</a>
		</li>	
		<!-- fim da noticia a se repetir-->


	</ul>

	<footer class="page-footer">
		
		<a href="#" onclick="return !(window.history.back(1));" class="btn btn-footer btn-custom" > « Voltar </a>

	</footer>
		
</article>
<!-- /.container -->