<!-- Página de código 133 -->
<!-- CSS -->
<link href="css/starter.css" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet"> 
<!-- FIM CSS -->
<!-- SCRIPTS AQUI -->
<script src="js/starter.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/scripts.js"></script>
<!--[if lt IE 9]>
<script src="js/mensagem-ie.js"></script><script src="js/html5shiv.js"></script>
<![endif]-->
<!-- FIM DOS SCRIPTS -->

<!-- Copiar apenas após esta linha -->

<article class="container">
	
	<header class="page-header">		
		<h1>Formul&aacute;rio</h1>
	</header>
	<!-- /.page-header -->

	<div class="row">
		
		<div class="col-xs-6">			

			<form action="" id="formulario_form" onsubmit="javascript:return megaValidar(this.id);">
				
				<div class="form-group">
					<label for="formulario_campo1">Campo:</label>
					<input type="text" name="formulario_campo1" id="formulario_campo1" class="form-control" maxlenght="99" data-valida="1">
				</div>

				<div class="form-group">
					<label for="formulario_campo2">Campo:</label>
					<input type="text" name="formulario_campo2" id="formulario_campo2" class="form-control masc-fone" data-mask="(99) 99999999?9" data-valida="1">
				</div>

				<div class="form-group">
					<label >Campo:</label>
					<br/>
					<label><input type="radio" id="formulario_radio" name="formulario_radio" value="Op&ccedil;&atilde;o 1" checked="checked"> Op&ccedil;&atilde;o 1</label>
					<br/>
					<label><input type="radio" id="formulario_radio2" name="formulario_radio" value="Op&ccedil;&atilde;o 2"> Op&ccedil;&atilde;o 2</label>
					<br/>
					<label><input type="radio" id="formulario_radio3" name="formulario_radio" value="Op&ccedil;&atilde;o 3"> Op&ccedil;&atilde;o 3</label>
					<br/>
					<label><input type="radio" id="formulario_radio4" name="formulario_radio" value="Op&ccedil;&atilde;o 4"> Op&ccedil;&atilde;o 4</label>
				</div>

				<div class="form-group">
					<label for="formulario_select">Campo:</label>
					<br/>
					<select name="formulario_select" id="formulario_select" class="form-control">
						<option value="Op&ccedil;&atilde;o 1">Op&ccedil;&atilde;o 1</option>
						<option value="Op&ccedil;&atilde;o 2" selected="selected">Op&ccedil;&atilde;o 2</option>
						<option value="Op&ccedil;&atilde;o 3">Op&ccedil;&atilde;o 3</option>
						<option value="Op&ccedil;&atilde;o 4">Op&ccedil;&atilde;o 4</option>
						<option value="Op&ccedil;&atilde;o 5">Op&ccedil;&atilde;o 5</option>
					</select>
				</div>

				<div class="form-group">
					<label >Campo:</label>
					<br/>
					<label><input type="checkbox" id="formulario_checkbox" name="formulario_checkbox" value="Op&ccedil;&atilde;o 1" checked="checked" > Op&ccedil;&atilde;o 1</label>
					<br/>
					<label><input type="checkbox" id="formulario_checkbox2" name="formulario_checkbox2" value="Op&ccedil;&atilde;o 2"> Op&ccedil;&atilde;o 2</label>
					<br/>
					<label><input type="checkbox" id="formulario_checkbox3" name="formulario_checkbox3" value="Op&ccedil;&atilde;o 3"> Op&ccedil;&atilde;o 3</label>
					<br/>
					<label><input type="checkbox" id="formulario_checkbox4" name="formulario_checkbox4" value="Op&ccedil;&atilde;o 4"> Op&ccedil;&atilde;o 4</label>
				</div>

				<div class="form-group">
					<label for="formulario_imagem">Campo:</label>
					<input type="file">
				</div>

				<div class="form-group">
					<label for="formulario_mensagem">Mensagem:</label>
					<textarea name="formulario_mensagem" id="formulario_mensagem" class="form-control" data-valida="1"></textarea>
				</div>

				<input type="submit" value="Enviar" class="btn btn-lg btn-custom pull-right"/>

			</form>

		</div>
		<!-- /.col-xs-6 -->

		<div class="col-xs-6">

			<p>
				<figure>
					<img src="http://placehold.it/470x220.jpg" height="220" width="470" alt="">
				</figure>
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, tempora, porro facere harum temporibus accusantium quae dolor doloremque nihil cumque eum a possimus asperiores animi quibusdam! Corporis ex sapiente minima. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, tempora, porro facere harum temporibus accusantium quae dolor doloremque nihil cumque eum.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, tempora, porro facere harum temporibus accusantium quae dolor doloremque nihil cumque eum a possimus asperiores animi quibusdam! Corporis ex sapiente minima.
			</p>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, tempora, porro facere harum temporibus accusantium quae dolor doloremque nihil cumque eum a possimus asperiores animi quibusdam! Corporis ex sapiente minima.
			</p>
			
		</div>
		<!-- /.col-xs-6 -->
			
		</div>
		<!-- /.col-xs-6 -->

	</div>
	<!-- /.row		 -->

</article><!-- /.container -->
