<!-- Página de código 142 -->
<!-- CSS -->
<link href="css/starter.css" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet"> 
<!-- FIM CSS -->
<!-- SCRIPTS AQUI -->
<script src="js/starter.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/scripts.js"></script>
<!--[if lt IE 9]>
<script src="js/mensagem-ie.js"></script><script src="js/html5shiv.js"></script>
<![endif]-->
<!-- FIM DOS SCRIPTS -->

<!-- Copiar apenas após esta linha -->

<section class="container">
	
	<header class="page-header">		
		<h1>Perguntas Frequentes</h1>
	</header>
	<!-- /.page-header -->

	
	<ul class="page-list">

		<li class="depoimento">

			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse" data-target="#resposta1">
					<h3 class="panel-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, saepe eligendi et maxime voluptatem maiores molestiae?</h3>
				</div>				
				<div class="panel-body collapse" id="resposta1">
					"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, saepe eligendi et maxime voluptatem maiores molestiae quod autem iste labore esse a rem sed ducimus atque unde sint doloremque repellendus."
				</div>
				
			</div>

		</li>

		<li class="depoimento">

			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse" data-target="#resposta2">
					<h3 class="panel-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, saepe eligendi et maxime voluptatem maiores molestiae?</h3>
				</div>				
				<div class="panel-body collapse" id="resposta2">
					"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, saepe eligendi et maxime voluptatem maiores molestiae quod autem iste labore esse a rem sed ducimus atque unde sint doloremque repellendus."
				</div>
				
			</div>

		</li>

		<li class="depoimento">

			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse" data-target="#resposta3">
					<h3 class="panel-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, saepe eligendi et maxime voluptatem maiores molestiae?</h3>
				</div>				
				<div class="panel-body collapse" id="resposta3">
					"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, saepe eligendi et maxime voluptatem maiores molestiae quod autem iste labore esse a rem sed ducimus atque unde sint doloremque repellendus."
				</div>
				
			</div>

		</li>

		<li class="depoimento">

			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse" data-target="#resposta4">
					<h3 class="panel-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, saepe eligendi et maxime voluptatem maiores molestiae?</h3>
				</div>				
				<div class="panel-body collapse" id="resposta4">
					"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, saepe eligendi et maxime voluptatem maiores molestiae quod autem iste labore esse a rem sed ducimus atque unde sint doloremque repellendus."
				</div>
				
			</div>

		</li>
		
	</ul>

	<div class="page-footer">
		
		<ul class="pagination">
		  <li><a href="#">&laquo;</a></li>
		  <li><a href="#">1</a></li>
		  <li><a href="#">2</a></li>
		  <li><a href="#">3</a></li>
		  <li><a href="#">4</a></li>
		  <li><a href="#">5</a></li>
		  <li><a href="#">&raquo;</a></li>
		</ul>
	
	</div>

	<header class="page-header">		
		<h3>Envie seu depoimento</h3>
	</header>
	<!-- /.page-header -->

	<form class="row" action="" onsubmit="javascript:return megaValidar(this.id);">

		<div class="col-xs-6">
			
			<div class="form-group">
				<label for="depoimento_nome">Nome:</label>
				<input type="text" id="depoimento_nome" name="depoimento_nome" class="form-control" data-valida="1" maxlenght="99">
			</div>

			<div class="form-group">
				<label for="depoimento_telefone">Telefone:</label>
				<input type="text" id="depoimento_telefone" name="depoimento_telefone" class="form-control" data-valida="1" data-mask="(99) 99999999?9">
			</div>

			<div class="form-group">
				<label for="depoimento_email">E-mail:</label>
				<input type="text" id="depoimento_email" name="depoimento_email" class="form-control" data-valida="2" maxlenght="99">
			</div>

		</div>

		<div class="col-xs-6">
			
			<div class="form-group">
				<label for="depoimento_depoimento">Depoimento:</label>
				<textarea id="depoimento_depoimento" name="depoimento_depoimento" class="form-control" data-valida="1" rows="6"></textarea>
			</div>

			<input type="submit" class="btn btn-custom pull-right" value=" Enviar ">

		</div>


	</form>

</section>
<!-- /.container -->
