<!--Página de código 155 -->
<!-- CSS -->
<link href="css/starter.css" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet"> 
<!-- FIM CSS -->
<!-- SCRIPTS AQUI -->
<script src="js/starter.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/scripts.js"></script>
<!--[if lt IE 9]>
<script src="js/mensagem-ie.js"></script><script src="js/html5shiv.js"></script>
<![endif]-->
<!-- FIM DOS SCRIPTS -->

<!-- Copiar apenas após esta linha -->

<section class="container">
	
	<header class="page-header">		
		<h1>Produtos ou Servi&ccedil;os</h1>
	</header>

	<div class="row">

		<aside class="col-sm-3 col-xsm-5">
			
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Categoria</div>

				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item"><a href="#">Minha Terra</a></li>
					<li class="list-group-item"><a href="#">Tem Palmeiras</a></li>
					<li class="list-group-item"><a href="#">Onde Canta</a></li>
					<li class="list-group-item"><a href="#">O Sabiá</a></li>
				</ul>

			</div>

			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Categoria 1</div>

				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item"><a href="#">As aves</a></li>
					<li class="list-group-item"><a href="#">Que aqui gorjeiam</a></li>
					<li class="list-group-item"><a href="#">Não gorjeiam</a></li>
					<li class="list-group-item"><a href="#">Como lá</a></li>
				</ul>

			</div>

			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Categoria 2</div>

				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item"><a href="#">Cras justo odio</a></li>
					<li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
					<li class="list-group-item"><a href="#">Morbi leo risus</a></li>
					<li class="list-group-item"><a href="#">Porta ac consectetur ac</a></li>
					<li class="list-group-item"><a href="#">Vestibulum at eros</a></li>
				</ul>

			</div>

			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Categoria 3</div>

				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item"><a href="#">Cras justo odio</a></li>
					<li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
					<li class="list-group-item"><a href="#">Morbi leo risus</a></li>
					<li class="list-group-item"><a href="#">Porta ac consectetur ac</a></li>
					<li class="list-group-item"><a href="#">Vestibulum at eros</a></li>
				</ul>

			</div>

		</aside>

		<div class="col-sm-9 col-xsm-7">

			<ul class="row page-list">

				<!-- noticia a se repetir -->
				<li class="col-md-4 col-sm-6 box-xs-3">			
					<a href="155-interna.html">
						<figure class="miniatura">					
							<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
						</figure>
						<div>
							<h2>
								Nome do Produto ou Servi&ccedil;o
							</h2>
							<p>
								Pequena descri&ccedil;&atilde;o do produto ou servi&ccedil;o onde o nome e esta descri&ccedil;&atilde;o n&atilde;o devem passar de quatro linhas
							</p>
						</div>
					</a>
				</li>	
				<!-- fim da noticia a se repetir-->

				<!-- noticia a se repetir -->
				<li class="col-md-4 col-sm-6 box-xs-3">			
					<a href="155-interna.html">
						<figure class="miniatura">					
							<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
						</figure>
						<div>
							<h2>
								Nome do Produto ou Servi&ccedil;o
							</h2>
							<p>
								Pequena descri&ccedil;&atilde;o do produto ou servi&ccedil;o onde o nome e esta descri&ccedil;&atilde;o n&atilde;o devem passar de quatro linhas
							</p>
						</div>
					</a>
				</li>	
				<!-- fim da noticia a se repetir-->

				<!-- noticia a se repetir -->
				<li class="col-md-4 col-sm-6 box-xs-3">			
					<a href="155-interna.html">
						<figure class="miniatura">					
							<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
						</figure>
						<div>
							<h2>
								Nome do Produto ou Servi&ccedil;o
							</h2>
							<p>
								Pequena descri&ccedil;&atilde;o do produto ou servi&ccedil;o onde o nome e esta descri&ccedil;&atilde;o n&atilde;o devem passar de quatro linhas
							</p>
						</div>
					</a>
				</li>	
				<!-- fim da noticia a se repetir-->

				<!-- noticia a se repetir -->
				<li class="col-md-4 col-sm-6 box-xs-3">			
					<a href="155-interna.html">
						<figure class="miniatura">					
							<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
						</figure>
						<div>
							<h2>
								Nome do Produto ou Servi&ccedil;o
							</h2>
							<p>
								Pequena descri&ccedil;&atilde;o do produto ou servi&ccedil;o onde o nome e esta descri&ccedil;&atilde;o n&atilde;o devem passar de quatro linhas
							</p>
						</div>
					</a>
				</li>	
				<!-- fim da noticia a se repetir-->

				<!-- noticia a se repetir -->
				<li class="col-md-4 col-sm-6 box-xs-3">			
					<a href="155-interna.html">
						<figure class="miniatura">					
							<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
						</figure>
						<div>
							<h2>
								Nome do Produto ou Servi&ccedil;o
							</h2>
							<p>
								Pequena descri&ccedil;&atilde;o do produto ou servi&ccedil;o onde o nome e esta descri&ccedil;&atilde;o n&atilde;o devem passar de quatro linhas
							</p>
						</div>
					</a>
				</li>	
				<!-- fim da noticia a se repetir-->

				<!-- noticia a se repetir -->
				<li class="col-md-4 col-sm-6 box-xs-3">			
					<a href="155-interna.html">
						<figure class="miniatura">					
							<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
						</figure>
						<div>
							<h2>
								Nome do Produto ou Servi&ccedil;o
							</h2>
							<p>
								Pequena descri&ccedil;&atilde;o do produto ou servi&ccedil;o onde o nome e esta descri&ccedil;&atilde;o n&atilde;o devem passar de quatro linhas
							</p>
						</div>
					</a>
				</li>	
				<!-- fim da noticia a se repetir-->

				<!-- noticia a se repetir -->
				<li class="col-md-4 col-sm-6 box-xs-3">			
					<a href="155-interna.html">
						<figure class="miniatura">					
							<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
						</figure>
						<div>
							<h2>
								Nome do Produto ou Servi&ccedil;o
							</h2>
							<p>
								Pequena descri&ccedil;&atilde;o do produto ou servi&ccedil;o onde o nome e esta descri&ccedil;&atilde;o n&atilde;o devem passar de quatro linhas
							</p>
						</div>
					</a>
				</li>	
				<!-- fim da noticia a se repetir-->

				<!-- noticia a se repetir -->
				<li class="col-md-4 col-sm-6 box-xs-3">			
					<a href="155-interna.html">
						<figure class="miniatura">					
							<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
						</figure>
						<div>
							<h2>
								Nome do Produto ou Servi&ccedil;o
							</h2>
							<p>
								Pequena descri&ccedil;&atilde;o do produto ou servi&ccedil;o onde o nome e esta descri&ccedil;&atilde;o n&atilde;o devem passar de quatro linhas
							</p>
						</div>
					</a>
				</li>	
				<!-- fim da noticia a se repetir-->

				<!-- noticia a se repetir -->
				<li class="col-md-4 col-sm-6 box-xs-3">			
					<a href="155-interna.html">
						<figure class="miniatura">					
							<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
						</figure>
						<div>
							<h2>
								Nome do Produto ou Servi&ccedil;o
							</h2>
							<p>
								Pequena descri&ccedil;&atilde;o do produto ou servi&ccedil;o onde o nome e esta descri&ccedil;&atilde;o n&atilde;o devem passar de quatro linhas
							</p>
						</div>
					</a>
				</li>	
				<!-- fim da noticia a se repetir-->

				<!-- noticia a se repetir -->
				<li class="col-md-4 col-sm-6 box-xs-3">			
					<a href="155-interna.html">
						<figure class="miniatura">					
							<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
						</figure>
						<div>
							<h2>
								Nome do Produto ou Servi&ccedil;o
							</h2>
							<p>
								Pequena descri&ccedil;&atilde;o do produto ou servi&ccedil;o onde o nome e esta descri&ccedil;&atilde;o n&atilde;o devem passar de quatro linhas
							</p>
						</div>
					</a>
				</li>	
				<!-- fim da noticia a se repetir-->

				<!-- noticia a se repetir -->
				<li class="col-md-4 col-sm-6 box-xs-3">			
					<a href="155-interna.html">
						<figure class="miniatura">					
							<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
						</figure>
						<div>
							<h2>
								Nome do Produto ou Servi&ccedil;o
							</h2>
							<p>
								Pequena descri&ccedil;&atilde;o do produto ou servi&ccedil;o onde o nome e esta descri&ccedil;&atilde;o n&atilde;o devem passar de quatro linhas
							</p>
						</div>
					</a>
				</li>	
				<!-- fim da noticia a se repetir-->

				<!-- noticia a se repetir -->
				<li class="col-md-4 col-sm-6 box-xs-3">			
					<a href="155-interna.html">
						<figure class="miniatura">					
							<img src="http://placehold.it/220x220.jpg" height="220" width="220" alt="Nome do Produto ou Servi&ccedil;o">					
						</figure>
						<div>
							<h2>
								Nome do Produto ou Servi&ccedil;o
							</h2>
							<p>
								Pequena descri&ccedil;&atilde;o do produto ou servi&ccedil;o onde o nome e esta descri&ccedil;&atilde;o n&atilde;o devem passar de quatro linhas
							</p>
						</div>
					</a>
				</li>	
				<!-- fim da noticia a se repetir-->

			</ul>

		</div>

	</div>

	<footer class="page-footer">
		
		<ul class="pagination">
			<li><a href="#">&laquo;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>

	</footer>
		
</section><!-- /.container-->