<!-- Página de código 159 -->
<!-- CSS -->
<link href="css/starter.css" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet"> 
<!-- FIM CSS -->
<!-- SCRIPTS AQUI -->
<script src="js/starter.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/scripts.js"></script>
<!--[if lt IE 9]>
<script src="js/mensagem-ie.js"></script><script src="js/html5shiv.js"></script>
<![endif]-->
<!-- FIM DOS SCRIPTS -->

<!-- Copiar apenas após esta linha -->

<section class="container">
	
	<header class="page-header">		
		<h1>Nome do Produto ou Serviço</h1>
	</header>
	<!-- /.page-header -->

	<div class="row">

		<div class="col-xs-3">
			
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Categoria</div>

				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item"><a href="#">Cras justo odio</a></li>
					<li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
					<li class="list-group-item"><a href="#">Morbi leo risus</a></li>
					<li class="list-group-item"><a href="#">Porta ac consectetur ac</a></li>
					<li class="list-group-item"><a href="#">Vestibulum at eros</a></li>
				</ul>

			</div>

			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Categoria 1</div>

				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item"><a href="#">Cras justo odio</a></li>
					<li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
					<li class="list-group-item"><a href="#">Morbi leo risus</a></li>
					<li class="list-group-item"><a href="#">Porta ac consectetur ac</a></li>
					<li class="list-group-item"><a href="#">Vestibulum at eros</a></li>
				</ul>

			</div>

			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Categoria 2</div>

				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item"><a href="#">Cras justo odio</a></li>
					<li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
					<li class="list-group-item"><a href="#">Morbi leo risus</a></li>
					<li class="list-group-item"><a href="#">Porta ac consectetur ac</a></li>
					<li class="list-group-item"><a href="#">Vestibulum at eros</a></li>
				</ul>

			</div>

		</div>

		<article class="col-xs-9">

			<div class="page-body">	

				<p>
					<img src="http://placehold.it/720x250.jpg" height="250" width="720" alt="">
				</p>

				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa.</p>

				<p>Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.
				Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc
				gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac,
				sollicitudin in, consequat vitae, orci. Fusce id felis.</p>

				<p>Vivamus sollicitudin metus eget eros.Pellentesque habitant morbi tristique senectus et netus et
				malesuada fames ac turpis egestas. In posuere felis nec tortor. Pellentesque faucibus. Ut accumsan ultricies elit. Maecenas at justo id velit placerat
				molestie. Donec dictum lectus non odio. Cras a ante vitae enim iaculis aliquam. Mauris nunc quam, venenatis nec, euismod sit amet, egestas placerat, est.
				Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

			</div>
			<!-- /.page-body -->


		</article>

	</div>

	<footer class="page-footer">
		
		<a href="#" onclick="window.history.back();" class="btn btn-footer btn-custom" > « Voltar </a>

	</footer>
		
</section>
<!-- /.container -->