<!--Página de código 159 -->
<!-- CSS -->
<link href="css/starter.css" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet"> 
<!-- FIM CSS -->
<!-- SCRIPTS AQUI -->
<script src="js/starter.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/scripts.js"></script>
<!--[if lt IE 9]>
<script src="js/mensagem-ie.js"></script><script src="js/html5shiv.js"></script>
<![endif]-->
<!-- FIM DOS SCRIPTS -->

<!-- Copiar apenas após esta linha -->

<section class="container">
	
	<header class="page-header">		
		<h1>Produtos ou Servi&ccedil;os</h1>
	</header>

	<div class="row">

		<div class="col-xs-3">
			
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Categoria</div>

				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item"><a href="#">Cras justo odio</a></li>
					<li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
					<li class="list-group-item"><a href="#">Morbi leo risus</a></li>
					<li class="list-group-item"><a href="#">Porta ac consectetur ac</a></li>
					<li class="list-group-item"><a href="#">Vestibulum at eros</a></li>
				</ul>

			</div>

			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Categoria 1</div>

				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item"><a href="#">Cras justo odio</a></li>
					<li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
					<li class="list-group-item"><a href="#">Morbi leo risus</a></li>
					<li class="list-group-item"><a href="#">Porta ac consectetur ac</a></li>
					<li class="list-group-item"><a href="#">Vestibulum at eros</a></li>
				</ul>

			</div>

			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Categoria 2</div>

				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item"><a href="#">Cras justo odio</a></li>
					<li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
					<li class="list-group-item"><a href="#">Morbi leo risus</a></li>
					<li class="list-group-item"><a href="#">Porta ac consectetur ac</a></li>
					<li class="list-group-item"><a href="#">Vestibulum at eros</a></li>
				</ul>

			</div>

			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Categoria 3</div>

				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item"><a href="#">Cras justo odio</a></li>
					<li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
					<li class="list-group-item"><a href="#">Morbi leo risus</a></li>
					<li class="list-group-item"><a href="#">Porta ac consectetur ac</a></li>
					<li class="list-group-item"><a href="#">Vestibulum at eros</a></li>
				</ul>

			</div>

		</div>

		<div class="col-xs-9">

			<ul class="page-list">

				<li class="box-xs-12-p">
					<a href="#">
						
						<h3 class="titulo-descricao">T&iacute;tulo</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, suscipit, obcaecati optio ratione totam dolorem sequi necessitatibus nesciunt impedit ipsa odio quae deserunt illum laboriosam sunt! Incidunt voluptatem officiis pariatur.
						</p>
						<span class="btn btn-custom pull-right">Saiba mais</span>			
						
					</a>
				</li>

				<li class="box-xs-12-p">
					<a href="#">
						
						<h3 class="titulo-descricao">T&iacute;tulo</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, suscipit, obcaecati optio ratione totam dolorem sequi necessitatibus nesciunt impedit ipsa odio quae deserunt illum laboriosam sunt! Incidunt voluptatem officiis pariatur.
						</p>
						<span class="btn btn-custom pull-right">Saiba mais</span>			
						
					</a>
				</li>

				<li class="box-xs-12-p">
					<a href="#">						
						<h3 class="titulo-descricao">T&iacute;tulo</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, suscipit, obcaecati optio ratione totam dolorem sequi necessitatibus nesciunt impedit ipsa odio quae deserunt illum laboriosam sunt! Incidunt voluptatem officiis pariatur.
						</p>
						<span class="btn btn-custom pull-right">Saiba mais</span>
					</a>
				</li>

				<li class="box-xs-12-p">
					<a href="#">
						
						<h3 class="titulo-descricao">T&iacute;tulo</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, suscipit, obcaecati optio ratione totam dolorem sequi necessitatibus nesciunt impedit ipsa odio quae deserunt illum laboriosam sunt! Incidunt voluptatem officiis pariatur.
						</p>
						<span class="btn btn-custom pull-right">Saiba mais</span>			
						
					</a>
				</li>

				<li class="box-xs-12-p">
					<a href="#">
						
						<h3 class="titulo-descricao">T&iacute;tulo</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, suscipit, obcaecati optio ratione totam dolorem sequi necessitatibus nesciunt impedit ipsa odio quae deserunt illum laboriosam sunt! Incidunt voluptatem officiis pariatur.
						</p>
						<span class="btn btn-custom pull-right">Saiba mais</span>			
						
					</a>
				</li>

				<li class="box-xs-12-p">
					<a href="#">
						
						<h3 class="titulo-descricao">T&iacute;tulo</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, suscipit, obcaecati optio ratione totam dolorem sequi necessitatibus nesciunt impedit ipsa odio quae deserunt illum laboriosam sunt! Incidunt voluptatem officiis pariatur.
						</p>
						<span class="btn btn-custom pull-right">Saiba mais</span>			
						
					</a>
				</li>

				<li class="box-xs-12-p">
					<a href="#">
						
						<h3 class="titulo-descricao">T&iacute;tulo</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, suscipit, obcaecati optio ratione totam dolorem sequi necessitatibus nesciunt impedit ipsa odio quae deserunt illum laboriosam sunt! Incidunt voluptatem officiis pariatur.
						</p>
						<span class="btn btn-custom pull-right">Saiba mais</span>			
						
					</a>
				</li>

				<li class="box-xs-12-p">
					<a href="#">
						
						<h3 class="titulo-descricao">T&iacute;tulo</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, suscipit, obcaecati optio ratione totam dolorem sequi necessitatibus nesciunt impedit ipsa odio quae deserunt illum laboriosam sunt! Incidunt voluptatem officiis pariatur.
						</p>
						<span class="btn btn-custom pull-right">Saiba mais</span>			
						
					</a>
				</li>

			</ul>

		</div>

	</div>

	<footer class="page-footer">
		
		<ul class="pagination">
			<li><a href="#">&laquo;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>

	</footer>
		
</section>
<!-- /.container