<!-- Página de código 163 -->
<!-- CSS -->
<link href="css/starter.css" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet"> 
<!-- FIM CSS -->
<!-- SCRIPTS AQUI -->
<script src="js/starter.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/scripts.js"></script>
<!--[if lt IE 9]>
<script src="js/mensagem-ie.js"></script><script src="js/html5shiv.js"></script>
<![endif]-->
<!-- FIM DOS SCRIPTS -->

<!-- Copiar apenas após esta linha -->

<article class="container">
	
	<header class="page-header">
		<h1>V&iacute;deos</h1>
	</header>
	<!-- /.page-header -->

	<div class="page-body">	

		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa.</p>

		<p>Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.
		Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc
		gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac,
		sollicitudin in, consequat vitae, orci. Fusce id felis.</p>

		<p>Vivamus sollicitudin metus eget eros.Pellentesque habitant morbi tristique senectus et netus et
		malesuada fames ac turpis egestas. In posuere felis nec tortor. Pellentesque faucibus. Ut accumsan ultricies elit. Maecenas at justo id velit placerat
		molestie. Donec dictum lectus non odio. Cras a ante vitae enim iaculis aliquam. Mauris nunc quam, venenatis nec, euismod sit amet, egestas placerat, est.
		Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

	</div>
	<!-- /.page-body -->

	<ul class="page-list row">
		
		<li class="col-md-4 col-sm-6 box-xs-4">
			<a href="#" data-toggle="modal" data-target="#FOzSW4mD-B0">
				<figure class="miniatura img-responsive">
					<img src="http://img.youtube.com/vi/FOzSW4mD-B0/0.jpg" alt="">
				</figure>
			</a>

			<!-- modal esqueci minha senha -->
			<div class="modal fade" id="FOzSW4mD-B0">
				<div class="modal-dialog">
					<div class="modal-content">
				
					<div data-iframe-src="http://www.youtube.com/embed/FOzSW4mD-B0" data-iframe-width="100%" data-iframe-height="450px"></div>

					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<!-- fim do modal esqueci minha senha -->

		</li>

		<li class="col-md-4 col-sm-6 box-xs-4">
			<a href="#" data-toggle="modal" data-target="#FOzSW4mD-B0">
				<figure class="miniatura img-responsive">
					<img src="http://img.youtube.com/vi/FOzSW4mD-B0/0.jpg" alt="">
				</figure>
			</a>

			<!-- modal esqueci minha senha -->
			<div class="modal fade" id="FOzSW4mD-B0">
				<div class="modal-dialog">
					<div class="modal-content">
				
					<div data-iframe-src="http://www.youtube.com/embed/FOzSW4mD-B0" data-iframe-width="100%" data-iframe-height="450px"></div>

					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<!-- fim do modal esqueci minha senha -->

		</li>

		<li class="col-md-4 col-sm-6 box-xs-4">
			<a href="#" data-toggle="modal" data-target="#FOzSW4mD-B0">
				<figure class="miniatura img-responsive">
					<img src="http://img.youtube.com/vi/FOzSW4mD-B0/0.jpg" alt="">
				</figure>
			</a>

			<!-- modal esqueci minha senha -->
			<div class="modal fade" id="FOzSW4mD-B0">
				<div class="modal-dialog">
					<div class="modal-content">
				
					<div data-iframe-src="http://www.youtube.com/embed/FOzSW4mD-B0" data-iframe-width="100%" data-iframe-height="450px"></div>

					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<!-- fim do modal esqueci minha senha -->

		</li>

		<li class="col-md-4 col-sm-6 box-xs-4">
			<a href="#" data-toggle="modal" data-target="#FOzSW4mD-B0">
				<figure class="miniatura img-responsive">
					<img src="http://img.youtube.com/vi/FOzSW4mD-B0/0.jpg" alt="">
				</figure>
			</a>

			<!-- modal esqueci minha senha -->
			<div class="modal fade" id="FOzSW4mD-B0">
				<div class="modal-dialog">
					<div class="modal-content">
				
					<div data-iframe-src="http://www.youtube.com/embed/FOzSW4mD-B0" data-iframe-width="100%" data-iframe-height="450px"></div>

					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<!-- fim do modal esqueci minha senha -->

		</li>

		<li class="col-md-4 col-sm-6 box-xs-4">
			<a href="#" data-toggle="modal" data-target="#FOzSW4mD-B0">
				<figure class="miniatura img-responsive">
					<img src="http://img.youtube.com/vi/FOzSW4mD-B0/0.jpg" alt="">
				</figure>
			</a>

			<!-- modal esqueci minha senha -->
			<div class="modal fade" id="FOzSW4mD-B0">
				<div class="modal-dialog">
					<div class="modal-content">
				
					<div data-iframe-src="http://www.youtube.com/embed/FOzSW4mD-B0" data-iframe-width="100%" data-iframe-height="450px"></div>

					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<!-- fim do modal esqueci minha senha -->

		</li>

		<li class="col-md-4 col-sm-6 box-xs-4">
			<a href="#" data-toggle="modal" data-target="#FOzSW4mD-B0">
				<figure class="miniatura img-responsive">
					<img src="http://img.youtube.com/vi/FOzSW4mD-B0/0.jpg" alt="">
				</figure>
			</a>

			<!-- modal esqueci minha senha -->
			<div class="modal fade" id="FOzSW4mD-B0">
				<div class="modal-dialog">
					<div class="modal-content">
				
					<div data-iframe-src="http://www.youtube.com/embed/FOzSW4mD-B0" data-iframe-width="100%" data-iframe-height="450px"></div>

					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<!-- fim do modal esqueci minha senha -->

		</li>

		
	</ul>
		
</article>
<!-- /.container -->
	