<!-- Página de código 169 -->
<!-- CSS -->
<link href="css/starter.css" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet"> 
<!-- FIM CSS -->
<!-- SCRIPTS AQUI -->
<script src="js/starter.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/scripts.js"></script>
<!--[if lt IE 9]>
<script src="js/mensagem-ie.js"></script><script src="js/html5shiv.js"></script>
<![endif]-->
<!-- FIM DOS SCRIPTS -->

<!-- Copiar apenas após esta linha -->

<section class="container">
	
	<header class="page-header">		
		<h1>V&iacute;deos</h1>
	</header>
	<!-- /.page-header -->

	<div class="row">
		
		<div class="col-xs-10">

			<article class="page-body">	

				<div data-iframe-src="http://www.youtube.com/embed/YPjXxKpM4DM" data-iframe-width="100%" data-iframe-height="450px"></div>

				<br/>

				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa.</p>

				<p>Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.
					Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc
					gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac,
					sollicitudin in, consequat vitae, orci. Fusce id felis.</p>		

				</article>
				<!-- /.page-body -->

			</div>
			<!-- /.col-xs-10 -->

			<div class="col-xs-2">

				<div class="bt-up">
					<i class="fa fa-caret-square-o-up"></i>
				</div>

				<div class="area-videos">
					<div class="cycle-slideshow" 
					data-cycle-fx="scrollVert" 
					data-allow-wrap="false" 
					data-cycle-slides="> div" 
					data-cycle-prev=".bt-up" 
					data-cycle-next=".bt-down" 
					data-cycle-timeout="0" 
					data-cycle-speed="800"
					>

					<div>

						<a href="#" class="video-lateral">
							<img src="http://img.youtube.com/vi/YPjXxKpM4DM/default.jpg" alt="">
						</a>

						<a href="#" class="video-lateral">
							<img src="http://img.youtube.com/vi/YPjXxKpM4DM/default.jpg" alt="">
						</a>

						<a href="#" class="video-lateral">
							<img src="http://img.youtube.com/vi/YPjXxKpM4DM/default.jpg" alt="">
						</a>

						<a href="#" class="video-lateral">
							<img src="http://img.youtube.com/vi/YPjXxKpM4DM/default.jpg" alt="">
						</a>

					</div> 

					<div>

						<a href="#" class="video-lateral">
							<img src="http://img.youtube.com/vi/YPjXxKpM4DM/default.jpg" alt="">
						</a>

						<a href="#" class="video-lateral">
							<img src="http://img.youtube.com/vi/YPjXxKpM4DM/default.jpg" alt="">
						</a>

						<a href="#" class="video-lateral">
							<img src="http://img.youtube.com/vi/YPjXxKpM4DM/default.jpg" alt="">
						</a>

						<a href="#" class="video-lateral">
							<img src="http://img.youtube.com/vi/YPjXxKpM4DM/default.jpg" alt="">
						</a>

					</div> 

				</div>
			</div>

			<div class="bt-down">
				<i class="fa fa-caret-square-o-down"></i>
			</div>

		</div>
		<!-- /.col-xs-2 -->

	</div>
	<!-- /.row -->

</section>
<!-- /.container -->
	