<!-- Página de código 178 -->
<!-- CSS -->
<link href="css/starter.css" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet"> 
<!-- FIM CSS -->
<!-- SCRIPTS AQUI -->
<script src="js/starter.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/scripts.js"></script>
<!--[if lt IE 9]>
<script src="js/mensagem-ie.js"></script><script src="js/html5shiv.js"></script>
<![endif]-->
<!-- FIM DOS SCRIPTS -->

<!-- Copiar apenas após esta linha -->

<article class="container">	
	<header class="page-header">		
		<h1>Agenda ou Evento</h1>
	</header>

	<div class="row">
		
		<div class="col-xs-5 img-descricao-principal">

			<a href="http://placehold.it/1000x660.jpg" data-lightbox="178" data-title="Descri&ccedil;&atilde;o da imagem">			
				<figure class="miniatura">				
					<img src="http://placehold.it/400x400.jpg" height="400" width="400" alt="Descri&ccedil;&atilde;o da imagem">				
				</figure>
			</a>			

		</div>
		<!-- /.col-xs-5 -->

		<div class="col-xs-7">
			
			<h2 class="titulo-descricao">T&iacute;tulo</h2>

			<p>
				Lorem ipsum Ea id est Ut magna voluptate reprehenderit est dolore dolor reprehenderit commodo reprehenderit aute anim Ut adipisicing Excepteur minim consequat proident cupidatat elit aliquip in amet dolore consectetur amet qui exercitation ut aliqua sint id irure nulla fugiat ullamco dolore nisi in sit dolore velit Excepteur magna est ullamco culpa elit nulla qui consequat Duis proident eiusmod commodo incididunt labore do quis laborum elit anim incididunt laborum culpa est minim enim dolore et 
			</p>

			<p>
				Lorem ipsum Ea id est Ut magna voluptate reprehenderit est dolore dolor reprehenderit commodo reprehenderit aute anim Ut adipisicing Excepteur minim consequat proident cupidatat elit aliquip in amet dolore consectetur amet qui exercitation ut aliqua sint id irure nulla fugiat ullamco dolore nisi in sit dolore velit Excepteur magna est ullamco culpa elit nulla qui consequat Duis proident eiusmod commodo incididunt labore do quis laborum elit anim incididunt laborum culpa est minim enim dolore et 
			</p>

			<p>
				Lorem ipsum Ea id est Ut magna voluptate reprehenderit est dolore dolor reprehenderit commodo reprehenderit aute anim Ut adipisicing Excepteur minim consequat proident cupidatat elit aliquip in amet dolore consectetur amet qui exercitation ut aliqua sint id irure nulla fugiat ullamco dolore nisi in sit dolore velit Excepteur magna est ullamco culpa elit nulla qui consequat Duis proident eiusmod commodo incididunt labore do quis laborum elit anim incididunt laborum culpa est minim enim dolore et 
			</p>

		</div>
		<!-- /.col-xs-7 -->

	</div>
	<!-- /.row -->

	<footer class="page-footer">
		
		<a href="#" onclick="window.history.back();" class="btn btn-footer btn-custom" > « Voltar </a>

	</footer>
		
</article>
<!-- /.container -->