<!-- Página de código 178 -->
<!-- CSS -->
<link href="css/starter.css" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet"> 
<!-- FIM CSS -->
<!-- SCRIPTS AQUI -->
<script src="js/starter.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/scripts.js"></script>
<!--[if lt IE 9]>
<script src="js/mensagem-ie.js"></script><script src="js/html5shiv.js"></script>
<![endif]-->
<!-- FIM DOS SCRIPTS -->

<!-- Copiar apenas após esta linha -->

<section class="container">
	
	<header class="page-header">
		<h1>Agenda ou Eventos</h1>
	</header>
	<!-- /.page-header -->


	<ul class="page-list">

		<li class="row box-xs-12-p">
			<a href="#">
				<span class="col-xs-2">
					<figure class="miniatura">
						<img src="http://placehold.it/137x137.jpg" height="137" width="137" alt="">
					</figure>
				</span>
				<span class="col-xs-10">
					<h3 class="titulo-descricao">T&iacute;tulo</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, suscipit, obcaecati optio ratione totam dolorem sequi necessitatibus nesciunt impedit ipsa odio quae deserunt illum laboriosam sunt! Incidunt voluptatem officiis pariatur.
					</p>
					<span class="btn btn-custom pull-right">Saiba mais</span>						
				</span>
			</a>
		</li>

		<li class="row box-xs-12-p">
			<a href="#">
				<span class="col-xs-2">
					<figure class="miniatura">
						<img src="http://placehold.it/137x137.jpg" height="137" width="137" alt="">
					</figure>
				</span>
				<span class="col-xs-10">
					<h3 class="titulo-descricao">T&iacute;tulo</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, suscipit, obcaecati optio ratione totam dolorem sequi necessitatibus nesciunt impedit ipsa odio quae deserunt illum laboriosam sunt! Incidunt voluptatem officiis pariatur.
					</p>
					<span class="btn btn-custom pull-right">Saiba mais</span>						
				</span>
			</a>
		</li>

		<li class="row box-xs-12-p">
			<a href="#">
				<span class="col-xs-2">
					<figure class="miniatura">
						<img src="http://placehold.it/137x137.jpg" height="137" width="137" alt="">
					</figure>
				</span>
				<span class="col-xs-10">
					<h3 class="titulo-descricao">T&iacute;tulo</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, suscipit, obcaecati optio ratione totam dolorem sequi necessitatibus nesciunt impedit ipsa odio quae deserunt illum laboriosam sunt! Incidunt voluptatem officiis pariatur.
					</p>
					<span class="btn btn-custom pull-right">Saiba mais</span>						
				</span>
			</a>
		</li>

		<li class="row box-xs-12-p">
			<a href="#">
				<span class="col-xs-2">
					<figure class="miniatura">
						<img src="http://placehold.it/137x137.jpg" height="137" width="137" alt="">
					</figure>
				</span>
				<span class="col-xs-10">
					<h3 class="titulo-descricao">T&iacute;tulo</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, suscipit, obcaecati optio ratione totam dolorem sequi necessitatibus nesciunt impedit ipsa odio quae deserunt illum laboriosam sunt! Incidunt voluptatem officiis pariatur.
					</p>
					<span class="btn btn-custom pull-right">Saiba mais</span>						
				</span>
			</a>
		</li>

	</ul>

	<footer class="page-footer">
		
		<ul class="pagination">
			<li><a href="#">&laquo;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>

	</footer>
		
</section>
<!-- /.container -->
	